Zadanie 1.1/.vs
Zadanie 1.1/Debug
Zadanie 1.1/Zadanie 1.1.sln
Zadanie 1.1/Zadanie 1.1.vcx*

Zadanie 1.2/.vs
Zadanie 1.2/Debug
Zadanie 1.2/Zadanie 1.2.sln
Zadanie 1.2/Zadanie 1.2.vcx*

Zadanie 2/.vs
Zadanie 2/Debug
Zadanie 2/Zadanie 2.sln
Zadanie 2/Zadanie 2.vcx*

Zadanie 3/.vs
Zadanie 3/Debug
Zadanie 3/Zadanie 3.sln
Zadanie 3/Zadanie 3.vcx*

Zadanie 4/.vs
Zadanie 4/Debug
Zadanie 4/Zadanie 4.sln
Zadanie 4/Zadanie 4.vcx*

Zadanie 5/.vs
Zadanie 5/Debug
Zadanie 5/Zadanie 5.sln
Zadanie 5/Zadanie 5.vcx*

Zadanie 7/.vs
Zadanie 7/Debug
Zadanie 7/Zadanie 7.sln
Zadanie 7/Zadanie 7.vcx*